@tailwind base;
@tailwind components;
@tailwind utilities;

.post-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
}

.post-snippet {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3;
}

#postBody h1 {
  font-size: 30px;
}
@layer components {
  .sidebar{
    transition:all .4s ease-in-out;
  }
}

@media screen and (max-width: 1050px) {
  #postBody h1 {
    font-size: 23px !important;
  }

  #postBody h2 {
    font-size: 20px !important;
    font-weight: 600;
  }
  /* .productListTable {
    border-color: transparent !important;
  }
  .productListTable div{
    border-color: transparent !important;
    z-index: 0; */
  /* } */
}

#postBody h2 {
  font-size: 37px;
  font-weight: 600;
}

#postBody p {
  font-size: 18px;
  line-height: 30px;
}

#postBody li {
  list-style: decimal;
}


.css-1x7skt0 ,.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background-color: rgb(9, 31, 49) !important;
}

.green{
  color: green !important;
}

.red{
  color: red !important;
}





