@tailwind base;
@tailwind components;
@tailwind utilities;

.post-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 2;
}

.post-snippet {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 3;
}

#postBody h1 {
  font-size: 30px;
}

@media screen and (max-width: 900px) {
  #postBody h1 {
    font-size: 23px !important;
  }

  #postBody h2 {
    font-size: 20px !important;
    font-weight: 600;
  }
}

#postBody h2 {
  font-size: 37px;
  font-weight: 600;
}

#postBody p {
  font-size: 18px;
  line-height: 30px;
}

#postBody li {
  list-style: decimal;
}


.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background-color: rgb(9, 31, 49) !important;
}
